html {
    margin-left: 20px;
    margin-top: 20px;
}

body {
    width: 50%;
    float: left;
}

#map {
  height: 30%;
  width: 100%;
}

#sijainti_style {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 30%:
}

#sijainti {
    width: 40%;
    margin: 10px;
}


#alkamispaiva, #paattymispaiva{
    width: 100%;
    
}

#alkamisaika, #paattymisaika {
    width: 100%;
    margin-top: 10px;
}


#alkaa, #loppuu {
    
    padding: 10px;
    
    float: left;
    width: 30%;
    height: 10%;
    border: 1px solid black;
}

#loppuu {
    margin-left: 2%;
    clear: right;
    margin-right: auto;
}


#divusers2 li {
  background: red;
  text-decoration: none;
  list-style: none;
}

#time {
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 10px;
}

#osallistujat, #valituthenkilot {
    width: 50%;
}

#osallistujat li, #valituthenkilot li{
    width: 50%;
    list-style: none;
    padding: 0px;
    margin: 0px;
    
}

#osallistujat ul{
    padding: 0px;
    
    margin: 0px;
    margin-top: 00px;

}

#osallistujat a,#valituthenkilot a {
    
    background: gray;
    
    margin: 0px;
    
    width: 100%;
    height: auto;
    
    padding-right: 50%;
    padding-left: 50%;
    
    margin-top: 10px;

    
    
}

#osallistujat a:hover{
    background: red;
}