h1 {
    border-bottom: 1px solid black;
    width: 80%;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

li {
    margin-bottom: 20px;
    border: 1px black solid;
    
    width: 40%;
    padding: 10px;
    text-align: center;
}